 body{
        margin: 0;
     background-color: cornsilk;
      }
      header
      {
        font-size: 3em;
        text-align: center;
        color:white;
        background-color: brown;
        margin: 0;
        padding: 2%;
      }
      header h1
      {
        margin: 0;
      }
      nav
        {
            text-align: center;
        }
      .menu
      {
        width: 24%;
        font-size: 2em;
        font-weight: bold;
        display: inline-block;
        text-align: center;
        border:2px solid blue;
        box-sizing: border-box;
        margin:0;
        background-color: aliceblue;
      }
.menu:hover
{
    font-size: 2.3em;
    background-color: #83db0b;
    
}
      main
      {
        
        text-align: center;
        color:blue;

      }

.recuadro
{

    border:1px solid blue;
    margin: auto;
    background-color: aliceblue;

}
    .recuadro a
{
    font-size: 3em;
    text-decoration: none;


}
    .arecuadro
{
    border:1px solid blue;

}
    .arecuadro:hover
{
    background-color: darksalmon;
    font-size: 1.2em;

}
.contador3
{
 visibility: hidden; 
    color:aqua;
    animation:contador;
    animation-duration: 1s;
}
.contador2
{
   visibility: hidden; 
    color:crimson;
    animation:contador;
    animation-duration: 1s;
    animation-delay: 1s;
}
.contador1
{
   visibility: hidden; 
    color:red;
    animation:contador;
    animation-duration: 1s;
    animation-delay: 2s;
}
@keyframes contador 
    {
         from {position: relative; visibility: visible;font-size: 3em;}
         to {position: relative;visibility: visible;font-size: 3em;}
    }
h3 span
{
  color:red;
  font-size: 3em;
    animation: h3span;
    animation-duration: 3s;
}
@keyframes h3span 
    {
         from {visibility: hidden;}
         to {visibility: hidden;}
    }
.resultado
{
  font-size: 3em;
    animation: h3span;
    animation-duration: 3s;
}

      #inicio
      {
        font-size: 3em;
        font-weight: bold;
        padding: 2% 15%;
      }
      #subinicio
      {
        font-size: 2em;
        font-weight: bold;
        padding: 2% 15%;
        
      }
      #subinicio span
      {
        color:red;
        font-size: 2em;
        animation: sub;
          animation-duration: 3s;
          
      }

    @keyframes sub 
    {
         from {position: relative; left: -800px}
         to {left: 500px;}
    }


    input
{
    margin:15px;
}


      footer
      {
        text-align: center;
        background-color: brown;
        color:white;

      }
      footer p
      {
        font-size: 2em;
        padding: 1%;
        margin: 0;
      }
